@import '../../assets/scss/colors.scss';

.caret {
  display: inline-block;
  vertical-align: middle;
  height: 12px;
  width: 12px;
  margin: 0 5px;
  fill: $dark-purple;

  &.caret-white {
    fill: $white;
  }
}

