@import url("vipps-styles.css");
@import url("../node_modules/codemirror/lib/codemirror.css");
@import url("../node_modules/codemirror/theme/xq-light.css");
@import url("../node_modules/codemirror/theme/material.css");
@import url("code-theme.css");

.App {
  text-align: left;
}

.content-wrapper {
	text-align: left;
	display: grid;
	grid-template-columns: auto 100px 1000px 100px auto;
	grid-template-rows: auto auto;
	grid-template-areas:
		". intro-area intro-area intro-area ."
		". . step-area . .";
}

.intro-area {
	grid-area: intro-area;
}

.step-area {
	grid-area: step-area;
}


.intro-wrapper {
	background-color: #FFF4EC;
	margin-top: 64px;
	margin-bottom: 64px;
	display: grid;
	padding: 10%;
	border-radius: 10px;
	grid-template-columns: 60% 40%;
	grid-template-rows: auto;
	grid-column-gap: 32px;
	grid-template-areas:
		"intro-text intro-image"
}

.intro-text {
	grid-area: intro-text;
	align-self: center;
	justify-self: end; 
}

.intro-image { 
	grid-area: intro-image;
	align-self: center;
	justify-self: start; 
}

.intro-title {
	font-weight: bold;
}


// Svg sizing
.step-img-left,
.step-img-right,
.code-img-left,
.code-img-right {
	object-fit: downscale;
	width: .01vw;
	height: .01vw;
	viewBox: 0vw 0vw .01vw .01vw;
}

.step-text {
	grid-area: step-text;
	align-self: center;
}

.step-sub-text,
.code-title,
.code-description,
.code-code {
	margin-top: 16px;
	margin-bottom: 16px;
}

.step-img-right {
	grid-area: img-right;
	align-self: center;
	justify-self: start;
	perserveAspectRatio: xMinyMid meet;
}

.step-img-left {
	align-self: center;
	justify-self: end;
	perserveAspectRatio: xMaxyMid meet;
}

.step-wrapper,
.code-wrapper {
	margin-top: 64px;
	margin-bottom: 64px;
	padding-top: 32px;
	padding-bottom: 32px;
	display: grid;
	grid-template-columns: auto 60% auto;
	grid-column-gap: 32px;
	font-size: 1.2vmin;
}

.step-wrapper {
	grid-template-rows: auto;
	grid-template-areas:
		"img-left step-text img-right";
}

.code-img-left {
	grid-area: img-left;
	align-self: start;
	justify-self: end;
	perserveAspectRatio: xMinyMin meet;
}

.code-img-right {
	grid-area: img-right;
	align-self: start;
	justify-self: start; 
	perserveAspectRatio: xMaxyMin meet;
}

.code-title {
	grid-area: title;
}

.code-description {
	grid-area: desc;
}

.code-code {
	grid-area: code;
}

.code-wrapper {
	grid-template-rows: auto auto auto;
	grid-template-areas:
		". 			title	."
		"img-left	desc	img-right"
		"img-left	code	img-right"
		"img-left	. 		img-right";
}

.dropdown {
  margin-top: 10px;
  margin-left: 10px;  
  position: relative;
  display: inline-block;
  
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  z-index: 10;
}

.dropdown-content div {
  color: black;
  text-decoration: none;
  display: block;
}

.dropdown-content div:hover {
	background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropdown-tilte-box {
	background-color: #f9f9ff
}

.dropdown-icon:after {
	display: inline-block;
	content: '';
	height: .7em;
	width: .7em;
	border-style: solid;
	border-width: 0.3em 0.3em 0 0;
	
	margin-left: 0.7em;
	
	transform: rotate(-45deg);
	vertical-align: middle;	
}
.dropdown-icon:after {
    transform: rotate(-135deg);
}

.dropdown:hover .dropdown-icon:after {
	transform: rotate(135deg);
}