@import url("vipps-styles.css");
@import url("../node_modules/codemirror/lib/codemirror.css");
@import url("../node_modules/codemirror/theme/xq-light.css");
@import url("../node_modules/codemirror/theme/material.css");

.App {
  text-align: left;
}

.content-wrapper {
	text-align: left;
	display: grid;
	grid-template-columns: auto 1200px auto;
	grid-template-areas:
		". content-area .";
}

.content-area {
	grid-area: content-area;
}

// Svg sizing
.step-img-left,
.step-img-right,
.code-img-left,
.code-img-right {
	object-fit: downscale;
	width: .01vw;
	height: .01vw;
	viewBox: 0vw 0vw .01vw .01vw;
}

.step-text {
	grid-area: step-text;
	align-self: center;
}

.step-sub-text,
.code-title,
.code-description,
.code-code {
	margin-top: 16px;
	margin-bottom: 16px;
}

.step-img-right {
	grid-area: img-right;
	align-self: center;
	justify-self: start;
	perserveAspectRatio: xMinyMid meet;
}

.step-img-left {
	align-self: center;
	justify-self: end;
	perserveAspectRatio: xMaxyMid meet;
}

.step-wrapper,
.code-wrapper {
	margin-top: 64px;
	margin-bottom: 64px;
	padding-top: 32px;
	padding-bottom: 32px;
	display: grid;
	grid-template-columns: auto 60% auto;
	grid-column-gap: 32px;
	font-size: 1.2vmin;
}

.step-wrapper {
	grid-template-rows: auto;
	grid-template-areas:
		"img-left step-text img-right";
}

.code-img-left {
	grid-area: img-left;
	align-self: start;
	justify-self: end;
	perserveAspectRatio: xMinyMin meet;
}

.code-img-right {
	grid-area: img-right;
	align-self: start;
	justify-self: start; 
	perserveAspectRatio: xMaxyMin meet;
}

.code-title {
	grid-area: title;
}

.code-description {
	grid-area: desc;
}

.code-code {
	grid-area: code;
}

.code-wrapper {
	grid-template-rows: auto auto auto;
	grid-template-areas:
		". title ."
		"img-left desc img-right"
		"img-left code img-right"
		"img-left . img-right";
}

.CodeMirror {
  /* Set height, width, borders, and global font properties here */
  padding: 5px;
  box-sizing: border-box;
  border-radius: 25px;
  font-family: monospace;
  height: auto;
  color: black;
  direction: ltr;
  overflow: hidden;
}

.CodeMirror-scroll {
	overflow: hidden;
}

.CodeMirror-rulers {
	overflow: hidden;
}