@import url("vipps-styles.css");

:root {
 --debug: #FF00FF;
 --vippsblack: #161225;
 --vippsblue: #59cbe8;
 --vippspurple: #5E3DC2;
 --vippsred: #EB5858;
 --vippsrust: #9B3716;
}

.cm-s-vipps span.cm-keyword { line-height: 1em; font-weight: bold; color: var(--vippsblue); }
.cm-s-vipps span.cm-atom { color: var(--debug); }
.cm-s-vipps span.cm-number { color: rgb(145, 207, 0); }
.cm-s-vipps span.cm-def { text-decoration: underline; }
.cm-s-vipps span.cm-variable { color: var(--vippsblack); }
.cm-s-vipps span.cm-variable-2 { color: var(--vippsblack); }
.cm-s-vipps span.cm-variable-3, .cm-s-vipps span.cm-type { color: var(--vippsblack); }
.cm-s-vipps span.cm-property { color: var(--vippsblack); }
.cm-s-vipps span.cm-operator { color: var(--vippsblack); }
.cm-s-vipps span.cm-comment { color: var(--vippsrust); font-style: italic; }
.cm-s-vipps span.cm-string { color:var(--vippsred); }
.cm-s-vipps span.cm-meta { color: var(--debug); }
.cm-s-vipps span.cm-qualifier { color: var(--debug); }
.cm-s-vipps span.cm-builtin { color: var(--vippspurple); }
.cm-s-vipps span.cm-bracket { color: var(--vippsblack); }
.cm-s-vipps span.cm-tag { color: var(--debug); }
.cm-s-vipps span.cm-attribute { color: var(--debug); }
.cm-s-vipps span.cm-error { color: var(--debug); }

.cm-s-vipps .CodeMirror-activeline-background { background: rbg(252, 251, 254); }
.cm-s-vipps .CodeMirror-matchingbracket { outline:1px solid grey; color: var(--vippsrust) !important;background: #FFFFFF; }

.CodeTop {
	background-color: rgb(241, 239, 243);
	border-radius: 25px 25px 0px 0px;
	border: 2px solid rgb(219, 218, 223);
	height: 30px;
	width: 100%;
}

.cm-s-vipps.CodeMirror {
  background-color: rgb(252, 251, 254);
  color: rgba(233, 237, 237, 1);
  border-radius: 0px 0px 25px 25px;
  padding: 0px;
  border: none;
  height: auto;
  overflow: hidden;
  box-sizing: border-box;
  //font-family: monospace;
  font-family: 'PT Mono' , monospace;
  direction: ltr;
}
.cm-s-vipps.CodeMirror-scroll {
	height: auto;
}

.cm-s-vipps .CodeMirror-gutters {
  background: rgb(239, 238, 243);
  color: rgb(83,127,126);
  padding: 5px;
}