@import '~react-s-alert/dist/s-alert-default.css';

.s-alert-wrapper {
  position: relative;
}

//S-Alert overrides
.s-alert-box {
  width: 100%;
  max-width: 100%;
  position: static;
  display: block !important;
  padding: 1.5em;
  font-family: $body-font-family;
  font-size: $small-font-size;
  z-index: 1;
  border-radius: 20px;
  pointer-events: all;
}

.s-alert-box-inner {
  padding-right: 25px;
}

.close-button {
  position: absolute;
  top: 18.5px;
  right: 21px;
}

/* conditions */
.s-alert-success {
  background-color: $light-green;
  color: $black;
}

.s-alert-warning {
  background-color: $light-orange;
  color: $black;
}

.s-alert-error {
  background: $light-red;
  color: $black;
}
