@import url("vipps-styles.css");
@import url("../../node_modules/codemirror/lib/codemirror.css");

/**
 * Predefined Vipps colours.
 */
:root {
 --debug: #FF00FF;
 --vippsblack: #161225;
 --vippsblue: #59cbe8;
 --vippsgray: #6f6f6f;
 --vippspurple: #5E3DC2;
 --vippsred: #EB5858;
 --vippsrust: #9B3716;
 --vippsorange: #F00F0F;

 --ghost: #C9C6D7;
 --seashellPeach: #FFF4EC;
 --gallery: #F0F0F0;
 --athensGrey: #EFEEF3;
 --athensGreyLight: #F6F6F9;
 --manatee: #938FA8;
 --rum: #706B8B;
}

/**
 * Custom style for code mirror view in the Vipps design language.
 */
.cm-s-vipps span				{ color: var(--vippsblack);		}
.cm-s-vipps span.cm-keyword		{ color: var(--vippsblue); 		line-height: 1em; font-weight: bold;  }
.cm-s-vipps span.cm-atom		{ color: var(--vippspurple);	}
.cm-s-vipps span.cm-number		{ color: rgb(145, 207, 0);		}
.cm-s-vipps span.cm-def			{ text-decoration: underline;	}
.cm-s-vipps span.cm-variable	{ color: var(--vippsblack);		}
.cm-s-vipps span.cm-variable-2	{ color: var(--vippsblack);		}
.cm-s-vipps span.cm-variable-3	{ color: var(--vippsblack);		}
.cm-s-vipps span.cm-type		{ color: var(--vippsblack);		}
.cm-s-vipps span.cm-property	{ color: var(--vippspurple);	}
.cm-s-vipps span.cm-operator	{ color: var(--vippsblack);		}
.cm-s-vipps span.cm-comment		{ color: var(--vippsrust); 		font-style: italic; }
.cm-s-vipps span.cm-string		{ color: var(--vippsred);		}
.cm-s-vipps span.cm-meta		{ color: var(--debug);			}
.cm-s-vipps span.cm-qualifier	{ color: var(--debug);			}
.cm-s-vipps span.cm-builtin		{ color: var(--vippspurple);	}
.cm-s-vipps span.cm-bracket		{ color: var(--vippsblack); 	background-color: var(--debug);}
.cm-s-vipps span.cm-tag			{ color: var(--vippspurple);	}
.cm-s-vipps span.cm-attribute	{ color: var(--vippsblue);		}
.cm-s-vipps span.cm-error		{ color: var(--debug);			}
.cm-s-vipps .CodeMirror-activeline-background { background: rbg(252, 251, 254); }
.cm-s-vipps .CodeMirror-matchingbracket { outline:1px solid grey; color: var(--vippsrust) !important;background: #FFFFFF; }

.react-codemirror2 {
  padding-bottom: 25px;
  border-radius: 0px 0px 5px 5px;
  background-color: var(--athensGreyLight);
  border-bottom: 1px solid var(--ghost);
  border-left: 1px solid var(--ghost);
  border-right: 1px solid var(--ghost);
}

.cm-s-vipps.CodeMirror {
  background-color: var(--athensGreyLight);
  border-radius: 0px 0px 5px 5px;
  border: none;
  height: auto;
  overflow: hidden;
  box-sizing: border-box;
  font-family: 'PT Mono' , monospace;
  direction: ltr;
  width: 100%;
}

.cm-s-vipps .CodeMirror-scroll {
	height: auto;
}

.cm-s-vipps .CodeMirror-lines {
  color: var(--vippsblack);
}

.cm-s-vipps .CodeMirror pre {
  padding-left: 44px;
}

.cm-s-vipps .CodeMirror-linenumber {
  padding-left: 25px;
  width: 10px !important;
}

.cm-s-vipps .CodeMirror-gutters {
  background: var(--athensGreyLight);
  padding-left: 5px;
  padding-right: 5px;
  border-right-color: #00000000; 
  border-bottom-color: #00000000; 
}

.cm-s-vipps.CodeMirror pre {
  padding-left: 44px;
}


/**
 * The styling for the top bar of the codemirror view. Is where we choose language and can copy code.
 */
.codeview-utility-bar {
	background-color: var(--athensGreyLight); 
  border-radius: 5px 5px 0px 0px;
  height: 85px;
  width: 100%;
  border-top: 1px solid var(--ghost);
  border-left: 1px solid var(--ghost);
  border-right: 1px solid var(--ghost);
}

.codeview-utility-bar-right {
  padding-right: 30px;
  padding-top: 25px;
  text-align: right;
}

.codeview-utility-bar-right button {
  font-family: Vipps;
  font-weight: lighter;
	background-color:var(--athensGrey);
	color: var(--rum);
	border: 0.8px solid var(--ghost);
	font-size: 13px;
	line-height: 20px;
	text-align: center;
	border-radius: 40px;
	padding: 4px 14px 4px 14px;
}

.codeview-utility-bar-right button:hover {
    color: var(--manatee);
}

.codeview-utility-bar-right button.selected {
    color: var(--rum);
}

.codeview-utility-bar-right button:focus {
    outline: none;
}

.codeview-utility-bar-right button:active {
    background-color: var(--athensGreyLight);
}

.codeview-utility-bar-left {
	  display: inline-flex;
	  flex-direction: row;
	  justify-content: space-between;
	  float: left;
	  width: auto;
	  height: 100%;
    padding: 35px;
}
  
.codeview-utility-bar-left button {
    font-family: Vipps;
		margin-left: 5px;
		margin-right: 5px;
		font-weight: lighter;
    color: var(--manatee);
}

.codeview-utility-bar-left button.selected {
		font-weight: lighter;
    font-family: Vipps;
    color: var(--rum);
}

.codeview-utility-bar-left button:focus {
    outline: none;
}

/**
 * The overlay over the code view, not implemented yet.
 */

/*
.overlay-container {
  position: relative;
  width: 100%;
}


Used for overlay over the code view when copied. Will be implemented when we get the design ready

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
	border-radius: 0px 0px 25px 25px;
}

.overlay-container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
*/

